
<h1 class="p-4 text-white text-center">Agregar cometario al curso</h1>


    <form action="/Curso/AgregarComentario" method="post">
        <div class="form-group">
            <input type="hidden" name="IdCurso" value="@ViewBag.IdCurso">
            <h3 class="text-white">Escriba su comentario</h3>
            <textarea class="form-control" type="text" name="Descripcion" placeholder="describa el comentario"></textarea>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary btnCrearComentario">Crear</button>
            <a href='javascript:history.go(-1)' class="btn btn-danger">Cancelar</a>
        </div>


        @ViewBag.Validation
    </form>
