
<script src="~/js/DetalleCurso.js"></script>

<h1 style="color:white">@ViewBag.Curso.Nombre</h1>
<link href="~/css/DetalleCurso.css" rel="stylesheet" />
<hr />
<table class="table table-borderless" style="color:white">
    <thead>
        <tr>
            <th>Nombre del curso</th>
            <th>Fecha de creaci&oacute;n</th>
            <th>Creador</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>@ViewBag.Curso.Nombre</td>
            <td>@ViewBag.Curso.FechaCreacion</td>
            <td>@ViewBag.Usuario.Nombres</td>
        </tr>

    </tbody>
</table>
<hr />

<h2 class="text-white">Videos:</h2>
<ul class="youtube_videos">
    @foreach (var item in @ViewBag.Videos)
     {
          <iframe class="youtube" id="@item.Link" width="560" height="315" src="https://www.youtube.com/embed/@item.Link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     }
</ul>


<a href='javascript:history.go(-1)' class="btn btn-info btnRegresarDetalleLogin"><i class="fas fa-long-arrow-alt-left"></i> Regresar</a>
<a href="/Curso/AgregarComentarioFrom?IdCurso=@ViewBag.Curso.Id" class="btn btn-info btnComentar" style="float:right"><i class="fas fa-comments"></i> AgregarComentario</a>

<hr />

<h2 class="text-white">Comentarios:</h2>

 @foreach (var item in @ViewBag.ComentariosCurso)
  {
    <div class="text-center text-white">
        <div class="class-md-12 divCom">
            <a style="float:left;margin-left:25px; margin-top:8px;font-size:20px">@ViewBag.usuariosIndice[@item.IdUser]</a>
            <br />
            <br />
            <a class="text-center">@item.Descripcion</a>
            <br />
            <a style="float:right;margin-right:25px;font-size:11px">@item.FechaCreacion</a>
        </div>
    </div>
  <hr />
  }