
@{
    Layout = null;
}

<title>@ViewData["Title"] uniWEBsidad</title>
<link rel="shortcut icon" href="~/images/iso.png" type="image/x-icon" />
<link href="~/css/Registrar.css" rel="stylesheet" />

<body class="align">
    <div class="image">
        <a href='javascript:history.go(-1)'>
            <img class="iconProject" src="~/images/iconProject.png" />
        </a>
    </div>
    <div class="grid">
        @*<div class="space-bot text-center">
                <h1>Sign up</h1>
                <div class="divider"></div>
            </div>*@
        <form class="form login" method="post" action="/Auth/RegisterC">
            @*<div class="input-field col s6">
                    <input name="Username" type="text" class="validate" required>
                    <label for="first-name">Username</label>
                </div>*@

            <div class="form__field">
                <label for="login__username">
                    <svg class="icon">
                        <use xlink:href="#icon-user"></use>
                    </svg><span class="hidden">Username</span>
                </label>
                <input autocomplete="username" id="login__username" type="text" name="Username" class="form__input validate" placeholder="Usuario" required>
            </div>

            @*<div class="form__field">
                    <input name="Password" type="text" class="validate" required>
                    <label for="Password">Password</label>
                </div>*@

            <div class="form__field">
                <label for="login__password">
                    <svg class="icon">
                        <use xlink:href="#icon-lock"></use>
                    </svg><span class="hidden">Password</span>
                </label>
                <input id="login__password" type="password" name="Password" class="form__input validate" placeholder="Contrasena" required>
            </div>

            @*<div class="input-field col s6">
                    <input name="Nombres" type="text" class="validate" required>
                    <label for="last-name">Nombres</label>
                </div>*@

            <div class="form__field">
                <label for="login__username">
                    <svg class="icon">
                        <use xlink:href="#icon-user"></use>
                    </svg><span class="hidden">Username</span>
                </label>
                <input autocomplete="username" id="login__username" type="text" name="Nombres" class="form__input validate" placeholder="Nombres" required>
            </div>

            <div class="form__field">
                <input ng-disabled="form-register.$invalid" type="submit" value="Registrar" />
                @*<button ng-disabled="form-register.$invalid" type="submit">
                    <i>Registrar</i>
                </button>*@
            </div>
        </form>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" class="icons">
        <symbol id="icon-arrow-right" viewBox="0 0 1792 1792">
            <path d="M1600 960q0 54-37 91l-651 651q-39 37-91 37-51 0-90-37l-75-75q-38-38-38-91t38-91l293-293H245q-52 0-84.5-37.5T128 1024V896q0-53 32.5-90.5T245 768h704L656 474q-38-36-38-90t38-90l75-75q38-38 90-38 53 0 91 38l651 651q37 35 37 90z" />
        </symbol>
        <symbol id="icon-lock" viewBox="0 0 1792 1792">
            <path d="M640 768h512V576q0-106-75-181t-181-75-181 75-75 181v192zm832 96v576q0 40-28 68t-68 28H416q-40 0-68-28t-28-68V864q0-40 28-68t68-28h32V576q0-184 132-316t316-132 316 132 132 316v192h32q40 0 68 28t28 68z" />
        </symbol>
        <symbol id="icon-user" viewBox="0 0 1792 1792">
            <path d="M1600 1405q0 120-73 189.5t-194 69.5H459q-121 0-194-69.5T192 1405q0-53 3.5-103.5t14-109T236 1084t43-97.5 62-81 85.5-53.5T538 832q9 0 42 21.5t74.5 48 108 48T896 971t133.5-21.5 108-48 74.5-48 42-21.5q61 0 111.5 20t85.5 53.5 62 81 43 97.5 26.5 108.5 14 109 3.5 103.5zm-320-893q0 159-112.5 271.5T896 896 624.5 783.5 512 512t112.5-271.5T896 128t271.5 112.5T1280 512z" />
        </symbol>
    </svg>

</body>
