﻿body {
}

img .zoom {
    width: 90%;
}

    img .zoom:hover {
        width: 95%;
    }

.active, .collapsible:hover {
    background-color: #555;
}

h4 .card-title:hover {
    text-decoration: none;
    width: 50%;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.zoom {
    transition: transform .2s;
}

    .zoom:hover {
        transform: scale(1.1);
    }

.zoom {
    transition: transform .2s;
}

.search-container button{
  padding: 6px 10px;
  margin-top: 8px;
  margin-left:0px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.search-container input{
  border-radius: 5px;
}

.search-container button:hover {
    background: #ccc;
}
